@import url('https://fonts.googleapis.com/css?family=Arimo:400,700');
@import "reset.css";

.table {
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  border-width: 24px 30px 32px 22px;
  border-style: solid;
  border-color: #3a4965;
  text-transform: uppercase;
  margin: 0 auto;
  color: #484848;
  width: 1192px;
  box-sizing: border-box;
}

th, td {
  text-align: center;
  vertical-align: middle;
  box-shadow: 2px 0 3px #dadada;
}



.table-body td {
  height: 69px;
}

.standard {
  background-color: #89c331;
}

.ultimate {
  background-color: #f04a56;
}

.premium {
  background-color: #20807c;
}

.first-cell-note {
  font-size: 18px;
}

.first-cell-title {
  font-size: 30px;
}

.tarif-title {
  font-size: 24px;
  color: #fff;
  height: 70px;
}

.table-head-price {
  padding: 18px 0 18px 35px;
  text-align: left;
}

.price {
  font-size: 60px;
  position: relative;
}

.price:after {
  content: 'per month';
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  width: 108px;
  bottom: 13px;
  left: 104px;
}

.price-standard:before {
  content: ".99";
  position: absolute;
  font-size: 24px;
  top: 10px;
  left: 102px;
}

.price-ultimate:before {
  content: ".99";
  position: absolute;
  font-size: 24px;
  top: 10px;
  left: 102px;
}

.price-premium:before {
  content: ".99";
  position: absolute;
  font-size: 24px;
  top: 10px;
  left: 102px;
}

.table-body {
  font-size: 16px;
  font-weight: 400;
}

.table-body tr:nth-child(2n - 1) {
  background-color: #f2f2f2;
}

.table-body tr:nth-child(2n) {
  background-color: #e3e3e3;
}

.icon {
  font-size: 24px;
  position: relative;
}

.icon:before {
  position: absolute;
  bottom: -5px;
  left: -20px;
}

.table-body-name {
  margin-left: 15px;
  font-size: 18px;
  font-weight: 400;
}
body{
    background: #fafafa; 
}
.footer-button {
  display: block;
  position: relative;
  font-size: 16px;
  color: #fff;
  width: 190px;
  border-radius: 5px;
  text-align: center;
  line-height: 49px;
  text-decoration: none;
  margin: 32px auto;
  transition: 0.3s;
}

.footer-button:hover {
  opacity: 0.6;
  transition: 0.4s;
}

.footer-button:after {
  position: absolute;
  content: '';
  display: block;
  height: 7px;
  width: 100%;
  opacity: 0.1;
  background-color: #000;
  border-radius: 0 0 5px 5px;
  bottom: 0;
}

.contact-us {
  background-color: #484848;
}